<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="visitRepo()">
        <ion-icon slot="icon-only" name="logo-github"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>

    <ion-list-header>List Items</ion-list-header>

    <ion-item *ngFor="let item of items" [routerLink]="['/items', item.id]" detail>
      <ion-avatar slot="start">
        <img [src]="item.image" [alt]="item.title">
      </ion-avatar>
      <ion-label>
        <h2>{{item.title}}</h2>
        <p>{{item.description}}</p>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
